@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

p,h1,h2,h3,h4,h5,a,span,strong,ul,li,button{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;

}

body{
	background-color:white;
}


.stickycontact{
	position: fixed;
    z-index: 999999;
    top: 300px;

 		.contact-body{
 			background-color: #eee;
    		width: 350px;
    		padding: 30px;
 		}

 		.contact-opener{
			background-color:$blue;
			padding:10px;
			width:200px;
			position:absolute;
			top:200px;
			transform: rotate(-90deg);
			z-index:999999999;
			left: -120px;
		}
}

.stickycontact.inactive{
	-webkit-transition: linear .35s;
			transition: linear .35s;
	right: -300px;
}

.stickycontact.active{
	-webkit-transition: linear .35s;
			transition: linear .35s;
	right: 0;
}

header{
	@include nopadding;
	position: fixed;
    z-index: 999;
    width: 100%;
}

h1{
	font-size:46px;
	font-weight:600;
	sup{
		font-size: 25px;
	}
}

h3{
    font-weight: 100;
    line-height: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    font-size: 18px;
    @include nopadding;
}


.up-top{
	background-color:$blue;
	height:46px;
	padding-top:10px;
	padding-right:20px;
	.contacto-top{
		float:right;
		padding-right:8%;
		display: inline-flex;
		p{
			color:white;
			font-size: 18px;
			font-weight: 700;
			span{
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 300;
			}
		}
		p:nth-child(1){
			padding-right: 20px;
		}

		i{
			color:$bluelight;
		}
	}
}

.nav-logo{
	background-color:white;
	position:relative;
	article{
		width: 1180px;
		margin:auto;
	}
	img{
	    width: 220px;
	}

	h1{
		font-size: 24px;
    	text-align: left;
    	font-weight: 100;
    	text-transform:uppercase;
    	span{
    		color:$red;
    		font-weight:700;
    		font-size: 26px;
    	}
	}
}

.eyecatcher{
	padding-top: 128px;
	.carousel{

	}

	.carousel-inner > .item > img {
		max-width:initial;
	}

	.carousel-caption{
		top:270px;
		bottom:0;
	}

	.item-video{
		background-color:black;
		height: 800px;
	}
	video{
	transform: translate(0, 0%);
    width: auto;
    min-height: 100%;
    min-width: 100%;
    opacity: .4;
	}

	h1{
		font-size: 71px;
    	text-transform: uppercase;
    	font-weight: 700;
    	width: 801px;
    	margin: auto;
    	background-color: $red;
		}
	h2{
		font-size: 29px;
		text-transform:uppercase;
		}

	h3{
		text-align: center;
		font-size: 22px;

	}

	sup{
		font-size: 45px;
	}

}

.first{
	padding:80px 0 0 0;

	h1:after{
	content: "";
    display: block;
    height: 2px;
    width: 100px;
    background: $red2;
    text-align: center;
    margin:15px auto 30px;
	}

	h2{
		padding-left: 100px;
	    padding-right: 100px;
	    margin-bottom: 50px;
	    font-size: 18px;
	    font-weight: 100;
	    line-height: 30px;
	    text-align: center;
	    color:$black;
	    sup{
		font-size: 12px;
		}
	}
}

.eventos{
	@include flexFlow;
	width:1180px;
	margin:auto;
		.column{
		    width: 33%;
    		border-right: 1px solid $grey;
    		padding:0 5px;
    		margin-right:0px;
    		margin-left:0px;
    		margin-bottom:60px;
    		padding-bottom:30px;

    		img{
    			width: 100%;
    		}
		}

		.column:nth-child(3), .column:nth-child(6){
			border-right:none;
		}

		h3{
			padding: 100px 30px 40px;
    		font-size: 26px;
    		font-weight: 600;
    		color:black;
    		text-align: left;
    		sup{
			font-size: 15px;
			}
		}


		a.vermas{
			font-size: 15px;
    		text-transform: uppercase;
    		color: black;
    		font-weight: 600;
    		padding:0px 35px;
    		text-align: left !important;
    		position:relative;
    		i{
    			background-color: $red2;
    			border-radius: 50px;
    			color: white;
    			vertical-align: bottom;
    			margin-left:10px;
    			font-size: 31px;

    		}

		}

		button{
			&:hover{
			background-color:$red2;
			border:1px solid $red2;
			color:white;
			font-size: 25px;
			text-transform: uppercase;
			font-weight: 700;
			opacity: .85 !important;
			i{
				display: none;
			}
			
			[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
			[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
				font-size:40px;
				}
			}
		}

		p{
			font-size: 17px;
    		font-weight: 100;
    		padding:0px 35px;
    		margin-bottom:30px;
    		text-align: left;
		}

}

.third{
	background-color:$blue;
	margin:auto;
	text-align:center;
	padding:50px;

	img{
		height: 70px;
		padding-right:20px;
		padding-left:20px;
		margin-bottom: 20px;
	}

	img:nth-child(1){
		border-right:1px solid white; 
		margin-left:50px;

	}

	p{
		color:$bluelight;
		margin-bottom:20px;
	}

	a{
		color:white;
		text-decoration: none;
		[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
		[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
		font-size:30px;
		}
	}

	a:nth-child(5){
		[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
		[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
		font-size:35px;
		}
	
	}
}

footer{
	background-color:black;
	color:white;
	padding:70px 0 0 0;
	a{
		color:white;
		transition: color .5s;
		&:hover{
		color:$red2;
		text-decoration: none;
		}
	}

	h3{
		width: 100%;
    	color: $red2;
    	font-weight: 700;
    	text-transform: uppercase;
    	@include nopadding;
    	margin-bottom:50px;

	}
	section:nth-child(1){
		width: 1180px;
		margin:auto;
		@include flexFlow;
		padding-bottom:70px;
		.solidwork{
			width: 50%;
			@include flexFlow;
			ul{
				width: 50%;
				@include nopadding;
				font-weight:400;
				font-size: 14px;
				li{
					margin-bottom: 10px;
				}
			}
		}
		.contactanos{
			width: 50%;
			@include flexFlow;
			h3{
				margin-bottom:0px;
			}
			div{
				width:33%;
				h4{
					font-size: 16px;
					font-weight:400;
					@include nopadding;
				}
				a{
					font-weight:700;
				}
			}
		}
	}

	section:nth-child(2){
		background-color:$black;
		width: 100%;
		text-align: center;
		padding:20px 0 15px;
	}
}


//Modal
.modal-dialog{
	margin-top:100px;
}

.modal-content{
	border-radius: inherit;
}

.modal-header{
	background-color:$blue;
	padding-top:30px;
	h4{
		color:white;
		text-transform: uppercase;
		font-weight: 700;
	}
	p{
		color:white;
		text-align: right;
		padding-top:3px;
		padding-right: 0;
		a{
			color:white;
		}
	}

	.close{
		font-size: 30px;
		margin-top:-20px;
		margin-right: -15px;
	}
}

.modal-body{
	padding: 35px 15px 35px 15px;

	button{
		background-color:$red2;
		color:white;
		font-size: 16px;
		font-weight: 700;
		width: 95%;
		border-radius:initial;
		padding:10px;
		border:3px solid $red2;
		border-color:$red2;
		transition: background-color .5s;
		margin:10px 15px;

		&:hover{
			background-color:transparent;
			color:$red;
			border-color:$red2;
		}
	}
}

select.form-control{
	margin: 15px;
    width: 95%;
}


